@import "../../../pages/generalStyles.scss";

.error {
    color: red;
}

.CRUD {
    width: 80%;
    margin: auto;

    .formulaire {
        display: flex;
        flex-direction: column;
        margin: auto;
    
        label {
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
    
            input, select, textarea {
                margin: 0 5px;
                border: 1px solid black;
                border-radius: 2px;
            }
    
            input, select {
                vertical-align: bottom;
                text-align: center;
            }
    
            textarea {
                vertical-align: top;
                width: 170px;
                height: 100px;
            }
    
            .caracteres-restants {
                font-size: 0.75em;
                margin: 0;
            }
        }
    
        button {
            width: 30%;
            margin: 10px auto;
            font-size: 1.25em;
        }
    }
}


.delete {
    margin: 50px auto;

    h2 {
        margin: 0;
    }
    
    button {
        font-size: 1.25em;
        margin: 10px auto;
    }
}