@import "../../../pages/generalStyles.scss";

%box-size {
    box-sizing: border-box;
    margin: 5px auto; }

.accueil {
    width: 100%; }

.intro-desktop {
    margin: 0;
    width: 50%;

    .introduction {
        margin: 0; }
}


.intro, .resume-accueil {
    
   .lien-wattpad {
        @extend %box-size;
        background-color: $primary-color;
        padding: 5px 10px;
        text-decoration: none;
        color: $secundary-color;
        width: 50%; }

    .introduction, .resume {
        @extend %box-size;
        width: 85%;
        border-radius: 10px; }
    
    .bienvenu, .titre-LF {
        font-family: $Cinzel; }
    
    .bienvenu {
        font-size: 1.25em; }
    
    .titre-LF, .lien-wattpad {
        font-size: 1.5em; }
    
    .titre {
        font-family: $Kanit; }
    
    .lire-roman {
        padding-left: 15px; }
}

.intro-admin {
    width: 90%;
    margin: auto;
    font-size: 1.25em;

    .liste-admin {
        text-align: left;
        list-style-type: none;
        
        span {
            padding-left: 5px; }
    }
}


@media #{$Min-Medium-Size} {

    .lien-wattpad {
        width: 30%; }    
}

@media #{$Min-Large-Size} {

    .lien-wattpad {
        width: 25%;
        transition: all 0.5s ease;

        &:hover {
            background-color: $secundary-color;
            color: $primary-color;
            font-size: 2em; }
    }   
}