@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nunito&family=Cinzel&family=Playfair+Display&display=swap');

$primary-color: #E1581E;
$secundary-color: #fff;
$third-color: #000;
$bg-link-secundary : #EDA21B;
$footer : #2E2B29;
$Cinzel : 'Cinzel', serif;
$Nunito : 'Nunito', sans-serif;
$Kanit : 'Kanit', sans-serif;
$Small-Size : "only screen and (max-width : 480px)";
$Min-Medium-Size : "only screen and (min-width : 768px)";
$Max-Medium-Size : "only screen and (max-width : 768px)";
$Min-Large-Size : "only screen and (min-width : 1024px)";
$Max-Large-Size : "only screen and (max-width : 1024px)";


body {
    text-align: center;

    .page {
        position: relative; }
    
    p {
        font-family: $Nunito; }
    
    a {
        font-family: $Kanit;
        text-decoration: none; }

    article {
        margin: 25px auto; }

    
    main {
        margin: 50px auto;
        font-size: 1.25em;
        display: flex;
        flex-direction: column;
        align-items: center; }
    
    button {
        background-color: $secundary-color;
        color: $primary-color;
        border: $third-color 1px solid;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    
    textarea {
        border-radius: 5px; }
    
    .err-message {
        color: red; }
}

@media #{$Min-Large-Size} {
    
    button {
        font-size: 1.12em; }
        
}