@import "../../../pages/generalStyles.scss";


.header {
    font-size: 2em;
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
}


@media screen and (min-width: 900px) {
    .header {
        font-size: 3em;
    }
}

@media screen and (min-width: 1279px) {
    .header {
        width: 85%;
        font-size: 4.5em;
    }
}