@import "../../../pages/generalStyles.scss";


.header {
    font-size: 2em;
    margin: 0 auto;
    font-family: $Cinzel;
    box-sizing: border-box;
}


@media #{$Min-Medium-Size} {
    .header {
        font-size: 3em;
    }
}

@media #{$Min-Large-Size} {
    .header {
        width: 85%;
        font-size: 4.5em;
    }
}