@import "../../../pages/generalStyles.scss";
%max-width-height { width: 100%; height: 100%; }
%margin-none { margin: 0; }


.carte {
    box-sizing: border-box;
    background-color: transparent;
    width: 308px;
    height: 580px; 
    perspective: 1000px;
    margin: 10px;
    text-align: center;
    animation: delay 1s;

    .interieur {
        @extend %max-width-height;
        border: 2px black solid;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;  
    
        .recto, .verso {
            @extend %max-width-height;
            @extend %margin-none;
            position: absolute;
            backface-visibility: hidden; }
    
        .recto { 
            box-shadow: 5px 5px 5px 0px rgba(38, 38, 38, 0.2);
    
            .top, .bottom {
                background-color: whitesmoke;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 0 5px;
    
                p { 
                    @extend %margin-none; }
            }
    
            .top {
                font-size: 1.35em; }
        
            .bottom {
                position: absolute;            
                width: 100%;
                bottom: 0;
                font-size: 1.25em; }
        }
            
        .verso {
            transform: rotateY(180deg);
            background-color: #caae98;
            box-shadow: 5px 5px 5px 0px rgba(38, 38, 38, 0.2);
            
            h1 {
                margin: 3px auto; }
        
            p, div {
                width: 96%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                .categorie {
                    text-align: left;
                    text-decoration: underline; }

                .description {
                    text-align: right; }
            }

            div {
                flex-direction: column; }
        }
    }
} 
.carte:hover .interieur {    
    transform: rotateY(180deg); }


.fiche {
    height: 100%;
    width: 75%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;

    .header {
        height: 20%;
        margin: 10px auto;

        h1, h6 {
            @extend %margin-none;
            padding: 5px; }
    }

    .corps {
        margin: auto;
        background-color: #fff;
        border: 1px solid black;
        height: 80%;
        width: 95%;
    
        h2 {
            margin-top: 0; }
    }
}


.post-card {
    box-sizing: border-box;
    background-color: transparent;
    width: 320px;
    height: 450px; 
    margin: 10px;
    text-align: center;
    animation: delay 1s;

    .interieur {
        @extend %max-width-height;
        border: 1px black solid;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;  
    
        .recto, .verso {
            @extend %max-width-height;
            @extend %margin-none;
            position: absolute;
            backface-visibility: hidden; }

        .recto {
            background-color: #fff;
            padding: 15px;
            box-sizing: border-box;

            .image-BG {
                @extend %max-width-height;
                overflow: hidden;

                .text {
                    @extend %max-width-height;
                    @extend %margin-none;
                    position: relative;
                    font-size: 1.35em;
                    color: #fff;
                    font-style: italic;
                    align-items: center;
                    text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;    

                    .greetings, .nom-lieu {
                        position: absolute;
                        width: 100%; }

                    .greetings {
                        top: 0; }

                    .nom-lieu {
                        @extend %margin-none;
                        bottom: 20px;
                        font-size: 2em; }
                }   
            }
        }

        .verso {
            transform: rotateY(180deg);
            background-color: #fff;
            box-shadow: 5px 5px 5px 0px rgba(38, 38, 38, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 0.9em;
        
            .coordonnees, .description, .separateur {
                padding: 15px; 

                p {
                    @extend %margin-none; 
                
                    .intitule {
                        text-decoration: underline; }
                }
            }     

            .separateur {
                @extend %margin-none;
                border: 1px solid black;
                width: 80%;
                padding: 0; }

            .description {
                width: 90%; }
        }
    }    
}
.post-card:hover .interieur {
    transform: rotateY(180deg); }


.card-generic {
    border: 1px solid black;
    background-color: #fff;
    width: 90%;
    margin: auto;

    div {

        p {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;

            .key {
                text-decoration: underline; }

            .data {
                text-align: right; }
        }
    }
}


@keyframes delay {
    0% {  
        opacity: 0; }

    100% {    
        opacity: 1; }
}


@media #{$Min-Medium-Size} {

    .post-card {
        width: 450px;
        height: 320px; 

        .interieur {  
            .recto {    
                .image-BG {    
                    .text {
                        height: 40%;
                        text-align: right;
                        position: absolute;
                        bottom: 0;
                        right: 75px;

                        .greetings {
                            margin: 0;
                            top: -80px;
                            left: -150px; }

                        .nom-lieu {
                            right: -50px;
                            bottom: 0;
                            font-size: 2em; }
                    }
                }
            }

            .verso {
                flex-direction: row;

                .coordonnees {
                    width: 90%; }

                .separateur {
                    width: 0;
                    height: 80%; }
            }
        }
    }
}


@media #{$Min-Large-Size} {

    .post-card {
        width: 598px;
        height: 429px;
        
        .interieur {  
            .recto {    
                .image-BG {    
                    .text {
                        font-size: 1.5em;
                    
                        .greetings {
                            width: 50%;
                            margin: 0;
                            left: 0;
                            top: -40px; }

                        .nom-lieu {
                            right: -50px;
                            font-size: 2em; }
                    }
                }
            }
            .verso {
                font-size: 1.25em; }
        }
    }
}