@import "../../../pages/generalStyles.scss";
%border-radius { border-radius: 25%; }

.lien-accueil {
    @extend %border-radius;
    width: 300px;
    height: 300px;    
    border: 2px black solid;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;

    .image {
        @extend %border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover; }

    .texte-lien-accueil {
        @extend %border-radius;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        font-size: 2em;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;}
}

.lien-accueil, .link-footer, .general-link {
    text-decoration: none;
}

.lien-accueil:hover .texte-lien-accueil {
    display: flex;  }

.link-footer {
    color: whitesmoke;
}

.absconditus {
    color: transparent;
}

.general-link {
    font-size: 1.5em;
    color: black;
}

.CRUD-link {
    text-decoration: underline;
    font-size: 2em;
    color: darkblue;
}

@media #{$Max-Large-Size} {
    
    .lien-accueil .texte-lien-accueil {
        display: flex;  }
}