.lien-accueil {
    width: 300px;
    height: 300px;    
    border: 2px black solid;
    border-radius: 25%;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    text-decoration: none;    

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25%; }

    .texte-lien-accueil {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        font-size: 2em;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;}
}


.lien-accueil:hover .texte-lien-accueil {
    display: flex;  }

.link-footer {
    text-decoration: none;
    color: whitesmoke;
}

.absconditus {
    color: transparent;
}

.general-link {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.CRUD-link {
    text-decoration: underline;
    font-size: 2em;
    color: darkblue;
}

@media screen and (max-width: 1080px) {
    
    .lien-accueil .texte-lien-accueil {
        display: flex;  }
    
}