.lintel {
    height: 300px;
    width: 250px;
    position: relative;
    border: 5px solid #61412D;
    perspective: 1000px;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .door {
        background-color: #61412D;
        height: 100%;
        width: 50%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: transform 0.5s;
        top: 0;
        border: 1px solid black;

        .shape {
            background-color: #65381F;
            border: 4px solid black;
            border-radius: 2px;
            width: 100px;
            height: 130px;
        }
        
        .knob {
            background-color: #d7dade;
            width: 10px;
            height: 50px;
            position: absolute;
            top: 50%;
        }
        
        #left-knob { right: 10px; }
        
        #right-knob { left: 10px; }    
    }
    
    #left-door {
        left: 0;
        transform-origin: left;
    }
    
    #right-door {
        right: 0;
        transform-origin: right;
    }    
}

.lintel:hover {
    #left-door { transform: rotateY(-140deg); }
    #right-door { transform: rotateY(140deg); }
}