.main-admin {

    .link-zone {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}




@media screen and (min-width: 700px) {
    
    .link-zone {
        flex-direction: row;
    }
    
}