@import "../generalStyles.scss";

.main-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 75px;

    .link-zone {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


@media #{$Min-Medium-Size}  {
    
    .link-zone {
        flex-direction: row;
    }
}