%padding { padding: 5px; }
%margin { margin: auto; }
%flex-column { display: flex; flex-direction: column; }
@import "../../../pages/generalStyles.scss";


.data-bloc, .latest-add {
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding-bottom: 30px;
}

.data-bloc {
    @extend %flex-column; 

    .error-message {
        @extend %padding;
        color: red; }

    section { 
        width: 100%; }

    p {
        width: 90%;
        @extend %margin; }

    button {
        @extend %padding;
        @extend %margin;
        width: 50%; }

    form {
        @extend %flex-column;
        @extend %margin;
        width: 80%;

        label {
            @extend %padding;

            select {
                margin: 5px; }
        }
    }

    button {
        padding: 2px; }
    
    .hide-button {
        margin-top: 10px;
        width: 15%; }

    .cards-article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; }
}

.latest-add-desktop {
    margin: 0;
    width: 50%;
}

.latest-add {

    table, th, td {
        background-color: #fff;
        border: 1px solid black;
        border-collapse: collapse; }

    table { 
        @extend %margin; }

    th, td { 
        @extend %padding; }
}


@media #{$Min-Medium-Size} {
    
    .data-bloc {
    
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
           
            label {
                text-align: left;
                padding: 0;
                width: 40%; }

            button {
                margin: 0;
                width: 15%;
                font-size: 0.75em; }
        }
    }
    
    .latest-add {
        width: 400px;
        height: 250px;
    }
}