@import "../generalStyles.scss";

.desktop {
    display: flex;
    justify-content: space-evenly;
}


.article-liens-pages-romans {
    .liens-pages-romans{
        margin: 0 auto 50px;
    }
}
    
@media #{$Min-Medium-Size} {

    .article-liens-pages-romans {
        display: flex;
        justify-content: space-evenly;

        .liens-pages-romans {
            h2 {
                font-family: $Kanit;
                font-size: 3em;
            }
        }
    }
}