@import "../generalStyles.scss";

.center-link-preambule {
    display: flex;
    justify-content: center;
    align-items: center;
}


.page {
    main {
        margin-bottom: 50px;

        .cards-article {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        article {
            section {
                a {
                    margin: auto;
                }
            }
        }
    }
}